
*{
    margin: 0; 
    padding: 0;  
    box-sizing: border-box;
    
}

body{

    /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%);;
     */
     background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

}

a {
    text-decoration: none;
    color:white;
    transition: 0.2s;
}

html{
font-size: 62.5%;
}

nav  {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    font-size: 1.6rem;
    font-family: sans-serif;
    
  
}

nav ul {
    display: flex;
    flex: 3 2 40rem;
    justify-content: space-around;
    align-items: center; 
    margin: 3rem; 
    font-family: sans-serif; 
   
}

#logo{
    color: white;
    font-size: 1.6rem; 
    flex :1 1 40rem;  
    font-size: 2.5rem;
    font-weight: bold;
    
}

ul li{
    color: white;  
    list-style: none;
}



li{
    margin: 2px;
}

a:hover{
 color:  rgb(23, 124, 248);
}

.btn1{
    border: 1px solid rgb(235, 206, 206);
    padding: 1rem 2rem ;
    border-radius: 6px;
    transition: 1.5s;
}

.btn1:hover{
    background-color: whitesmoke;
}


.hero-section{
    min-height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.hero-text{
flex: 1 1 40rem;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
/* text-align: center; */
font-size: 1.1rem;
margin-bottom: 9.0rem;

}
.hero-image{
    flex: 1 1 40rem;
   margin-left: 4rem;
    align-items: flex-end;
   
}
.hero-image img{
    background-position: center;
   

    height: 500px;
    width: 350px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.hero-text h1{
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.hero-text h3{
    font-size: 1.7rem;
    color: rgb(170, 160, 160);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.hero-text p{
    font-size: 1.2rem;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.hero-text h2{
    font-size: 2.1rem;
    color: rgb(20, 160, 246);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn2 button{
    /* border: transparent; */
    padding: 1rem 2rem;
    margin-right: 1rem;
    border-radius: 10px;
    /* background-color: rgb(10, 144, 246); */
    font-family: sans-serif;

}

.first{
    background-color: rgb(10, 144, 246);
    font-family: sans-serif;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    border: transparent;


}
.second{
    background-color: transparent;
    font-family: sans-serif;
    color:white;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 1.5s;

}

.second:hover{
    background-color: rgb(13, 200, 221);
}
